LogicNotes.aux
LogicNotes.bbl
LogicNotes.blg
LogicNotes.log
LogicNotes.out
LogicNotes.pdf
LogicNotes.synctex.gz
Modal-Logic-week-3.pdf
LogicNotes.fdb_latexmk
LogicNotes.fls
LogicNotes.glo
LogicNotes.ist
glossary.aux
glossary.fdb_latexmk
glossary.fls
glossary.log
LogicNotes.bak0
LogicNotes.bak1
indent.log
notes
